{% extends 'base.html'%}
    {% block title%}
        {{super() }}
            Register
    {% endblock %}

{% block main %}
{% if error %}
<h1>Este email ya existe en la base de datos !!, por favor vaya a Logearse: <br> <a class="button is-info" href="{{ url_for('login') }}">Login</a></h1>

{% endif %}
    <form action="{{ url_for('register') }}" method="POST" class="">
        <label for="name">Nombre:
            <input class="input" type="text" name="name" id="">
        </label>
        <label for="apellidos">Apellidos:
            <input class="input" type="text" name="apellidos" id="">
        </label>
        <label for="email">Email:
            <input class="input" type="text" name="email" id="">
        </label>
        <label for="password">Password:
            <input class="input" type="password" name="password" id="">
        </label>
        <button class="button is-info" type="submit">Enviar</button>
    </form>
{% endblock %}