{% extends 'base.html' %}
{% block title %}
{{ super() }}
Agenda Mongo
{% endblock %}

{% block main %}

<div class="lista_notas">
  {% for i in session.notas %}
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{i['titulo']}} <br> {{i['fecha']}}
      </p>
      <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </a>
    </header>
    <div class="card-content">
      <div id="texto_nota" class="content">
        {{i['nota']}}
        <br>
      </div>
    </div>
    <footer class="card-footer">
      <form action="{{ url_for('editar') }}" method="POST">
        <button class="button" name="editar" value="{{ i['titulo'] }}" type="submit">Editar</button>
      </form>
      <form action="{{ url_for('eliminar') }}" method="POST">
        <button class="button is-danger" name="eliminar" value="{{ i['titulo'] }}" type="submit">Eliminar</button>
      </form>
    </footer>
  </div> <br><br>
  {% endfor %}
  <a class="button is-warning" href="{{ url_for('index') }}">Crear Nota</a>
</div>


{% endblock %}